@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #FFFDF9;
  /* The off-white background from your reference */
  -webkit-font-smoothing: antialiased;
}

.brand-font {
  font-family: 'Dancing Script', cursive;
}